#sidebar {
    margin-left: auto;
    min-width: 250px;
    background-color: #1d3557;
}

#sidebar > * {
    padding: 10px;
    color: #f1faee;
}

#canvas {
    width: 100%;
    height: 100vh;
    background-color: #f1faee;
    background-image: radial-gradient(#a8dadc, 1px, transparent 1px);
    background-size: 10px 10px;
}

#actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#actions > button {
    margin: 10px;
    padding: 10px;
    background-color: #457b9d;
    color: #f1faee;
    border: 1px solid #f1faee;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
}

#actions > button:hover {
    background-color: #a8dadc;
    border-color: #457b9d;
    color: #1d3557;
}

#actions > button:disabled {
    background-color: #1d3557;
    color: #457b9d;
    border-color: #457b9d;
}